<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../../../assets/pc gamer.jpg'"
    [imageHeight]="230"
    [imageWidth]="230"
    [showImage]="true"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
></circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../../../assets/Pasta Termica.jpg'"
    [imageHeight]="230"
    [imageWidth]="230"
    [showImage]="true"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
></circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../../../assets/eset.jpg'"
    [imageHeight]="230"
    [imageWidth]="230"
    [showImage]="true"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
></circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../../../assets/diseño.jpg'"
    [imageHeight]="230"
    [imageWidth]="230"
    [showImage]="true"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
></circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../../../assets/windows.jpg'"
    [imageHeight]="230"
    [imageWidth]="230"
    [showImage]="true"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
></circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../../../assets/netbook.jpg'"
    [imageHeight]="230"
    [imageWidth]="230"
    [showImage]="true"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
></circle-progress>
  </div>
</div>
