<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 colo-lg-2">
        <img src="../../../assets/foto de perfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <style>h1{color: white;}</style><h1 id="Nombre">Cristian Gabriel Romero</h1>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca De Mí</h1>

<style>h2{color:white;}</style><h2> Servicio Técnico De Pc,contamos con mas de 10 años de experiencia en el rubro
Trabajos Garantizados.
Aceptamos todos los medios de pago: MercadoPago, Efectivo, Débito/Crédito, Transferencias, Depósitos y Código QR </h2> 
      
                

            </span>
    </div>
</div>
