<div>
    <a href="https://www.linkedin.com/in/cristian-romero-17a923259/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
    <a href="https://www.facebook.com/cristianromero89/"><img src="../../../assets/facebook.png" id="facebook"></a>
    <a href="https://www.instagram.com/cristian_romero_1009/"><img src="../../../assets/instagram.png" id="instagram"></a>
    <a href="https://twitter.com/Cristia94702032"><img src="../../../assets/twitter.png"id="twitter"></a>
    <a href="https://github.com/Cristian-Romero33"><img src="../../../assets/git.png"id="git"></a>
    <a href="https://web.whatsapp.com/"><img src="../../../assets/whatsapp.png" id="whatsapp"></a>
</div>
